<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuren.mapper.CommentMapper">
    <resultMap id="commentAndUserResultMap" type="Comment">
        <id column="id" property="id"></id>
        <id column="content" property="content"></id>
        <id column="commentDate" property="commentDate"></id>
        <id column="author" property="author.id"></id>
        <id column="topic" property="topic.id"></id>
    </resultMap>

    <select id="getCommentList" resultMap="commentAndUserResultMap">
        select * from comment where topic = #{topicId} and comment.del = '0'
    </select>

    <select id="getCommentById" resultMap="commentAndUserResultMap">
        select * from comment where id = #{commentId} and comment.del = '0'
    </select>

    <insert id="addComment">
        insert into comment(content,commentDate,topic,author) values(#{arg0},#{arg1},#{arg2},#{arg3})
    </insert>
    <select id="getLatestComment" resultMap="commentAndUserResultMap">
        SELECT comment.id, comment.content,comment.commentDate, comment.author,comment.topic FROM comment LEFT JOIN `topic` ON comment.topic=`topic`.id  where topic.author = #{arg0}    </select>

    <update id="delComment">
        update comment set  del = '1' where id = #{arg0}
    </update>

</mapper>

