<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuren.mapper.ReplyMapper">
    <resultMap id="replyAndUserResultMap" type="Reply">
        <id column="id" property="id"></id>
        <id column="content" property="content"></id>
        <id column="replyDate" property="replyDate"></id>
        <id column="author" property="author.id"></id>
        <id column="comment" property="comment.id"></id>
        <id column="replyPerson" property="replyPerson.id"></id>
    </resultMap>
    <select id="getReplyList" resultMap="replyAndUserResultMap">
        select * from reply where comment = #{commentId} and del ='0'
    </select>
    <insert id="addReply">
        insert into reply(content,comment,replyDate,author,replyPerson) values(#{arg0},#{arg1},#{arg2},#{arg3},#{arg4})
    </insert>

    <update id="delReply">
        update reply set  del = '1' where id = #{arg0}
    </update>
</mapper>


